* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/***************************************
LAYOUT
*****************************************/

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/***************************************

*****************************************/
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
main > section {
  height: 500px;
}
header {
  text-align: center;
}

#server {
  background-color: rgb(71, 66, 71);
}

#routes {
  background-color: rgb(74, 156, 74);
}

#model {
  background-color: rgb(240, 143, 159);
}

#view {
  background-color: rgb(168, 101, 168);
}

#controller {
 background-color: rgb(32, 124, 186);
}


/***************************************
MEDIA QUERIES
*****************************************/

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){

}

/* mobile */
@media screen and (max-width: 767px){

}
